<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="About Us - Online Bookstore">
    <meta name="keywords" content="About, Online Bookstore">
    <meta name="author" content="Your Name">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/resources/bookstore.png" type="image/x-icon">
    <title>Store - Online Bookstore</title>
</head>
<body>
  <%- include('partials/header') %>
  <h1>Librărie</h1>
  <ul>
    <% books.forEach(function(book) { %>
      <li><%= book.title %> by <%= book.author %> - <%= book.price %> Lei</li>
    <% }); %>
  </ul>
  <%- include('partials/footer') %>
</body>
</html>
