<!DOCTYPE html>
<html lang="ro">
  <%- include('partials/head') %>
  <body>
    <%- include('partials/header') %>
    <main>
      <h2><%= titlu %></h2>
      <p><%= text %></p>
      <img src="<%= imagine %>" alt="Imagine eroare">
    </main>
    <%- include('partials/footer') %>
  </body>
</html>
